.clearfix:before,
.clearfix:after{
    display: table;
    content: "";
    clear: both;
}
.container{
    text-align: center;
}
h3{
    text-align: center;
    font-weight: normal;
}
.local, 
.remote{
    margin: 20px 40px; 
    display: inline-block;
}
.local{
    border-right: 2px solid lightgray;
}
.game{
    width: 200px;
    height: 400px;
    background: #F2FAFF;
    border: 1px solid blue;
    border-top: none;
    position: relative;
    float: left;
}
header h2{
    font-weight: normal;
    text-align: center;
}
.introduce p{
    font-size: 14px;
}
.hidden{
    display: none;
}

.next{
    width: 80px;
    height: 80px;
    background: #F2FAFF;
    border: 1px solid blue;
    position: relative;
    
}
 
.info{
    width: 150px;
    float: left;
    margin-left: 20px;
}
.score{
    text-align: left;
}
 
.none, .current, .done{
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
}

.none{
    background: #F2FAFF;
}
.current{
    background: pink;
    border: 1px solid red;
}
.done{
    background: gray;
    border: 1px solid black;
}
